.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.app__footer-cards {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 4rem 0;

  .app__footer-card {
    min-width: 370px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    display: flex;

    margin: 1rem 0;
    cursor: pointer;
    background-color: var(--lightPurple-color);

    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem 0 0;
    }



    a {      
      color: var(--black-color);
      font-size: 1rem;
      text-decoration: none;
    }

    @media screen and (max-width: 375px) {
      min-width: 100%;

      a {
        font-size:13px;
      }
    }
   
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }

}

.app__footer-right-circle{
  position: absolute;
  right: 0;

  border-radius: 50%;
  bottom: 0;
  width: 22rem;
  height: 10rem;
  background: #b673f8; 
  filter: blur(250px);
  z-index:-9;
}
.app__footer-left-circle{
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20rem;
  height: 10rem;
  background: #4ca5ff; 
  filter: blur(250px);
  z-index:-9;
}

.app__footer-cards .app__footer-card:last-child {
  background-color: var(--lightBlue-color);
}

.app__footer-form {
  width: 50%;
  flex-direction: column;
  margin: 1rem 0;

  div {
    width: 100%;

    margin: 0.75rem;
    border-radius: 7px;
    cursor: pointer;

    // background-color: var(--secondary-background);
    transition: all 0.3s ease-in-out;

    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      border-radius: 7px;
      background-color: #282c34;

      font-family: var(--font-base);
      color: var(--lightGray-color);
      outline: none;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    textarea {
      min-height: 170px;
      max-height: 300px;
      resize: vertical;
    }

  }

  button {
    padding: 0.75rem 1.5rem;
    border-radius: 9999px;
    border: none;
    background-color: var(--secondary-color);

    font-size: 1rem;
    font-weight: 500;
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;

    font-family: var(--font-base);
    cursor: pointer;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
      margin: 1rem 0;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
